<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin/styleLogin.css}">
    <!-- Favicon -->
    <link th:href="@{/images/WingMan-black.png}" rel="icon"/>
    <title>Login Page | HavenShop</title>
</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up">
        <form th:action="@{/dang-ky}" method="post" th:object="${khachHang}">
            <h1>Tạo Tài Khoản</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Sử dụng email và mật khẩu để đăng ký</span>
            <input type="text" placeholder="Họ tên" th:field="*{ten}">
            <span style="color: red" th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"></span>
            <input type="text" placeholder="Số điện thoại" th:field="*{sdt}">
            <span style="color: red" th:if="${#fields.hasErrors('sdt')}" th:errors="*{sdt}"></span>
            <span style="color: red" th:if="${exSdt}"> Số điện thoại đã được sử dụng</span>
            <input type="email" placeholder="Email" th:field="*{email}">
            <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <span style="color: red" th:if="${exEmail}"> Email đã được sử dụng</span>
            <button type="submit">Đăng ký</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form th:action="@{/login}" method="post">
            <h1>Đăng nhập</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Sử dụng tài khoản của bạn</span>
            <span th:if="${param.error}" style="color: red">Mời nhập lại email và mật khẩu!</span>
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <a th:href="quen-mat-khau">Quên mật khẩu?</a>
            <button>Đăng nhập</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Chào mừng đến với Haven!</h1>
                <p>Nhập thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang web</p>
                <button class="hidden" id="login">Đăng nhập</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang web</p>
                <button class="hidden" id="register">Đăng ký</button>
            </div>
        </div>
    </div>
</div>

<!--<script th:src="@{/js/admin/script.js}">-->
<script>
    const container = document.getElementById('container');
    const registerBtn = document.getElementById('register');
    const loginBtn = document.getElementById('login');

    registerBtn.addEventListener('click', () => {
        container.classList.add("active");
    });

    loginBtn.addEventListener('click', () => {
        container.classList.remove("active");
    });

    const shouldClickButton =[[${validateRegis}]] /* Lấy giá trị từ server (chẳng hạn qua một biến global, AJAX, hoặc một cách khác) */;

    // Kiểm tra và tự động kích hoạt sự kiện click nếu shouldClickButton là true
    if (shouldClickButton) {
        registerBtn.click();
    }
</script>
</body>

</html>