<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Favicon -->
    <link th:href="@{/images/WingMan-black.png}" rel="icon"/>

    <!-- Google Web Fonts -->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}"/>
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin/>
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap}"
            rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
            th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}"
            rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
            th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}"
            rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/admin/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Template Stylesheet -->
    <link th:href="@{/css/admin/style.css}" rel="stylesheet"/>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div
            id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
        <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
        >
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sign In Start -->
    <div class="container-fluid">
        <div
                class="row h-100 align-items-center justify-content-center"
                style="min-height: 100vh"
        >
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div
                            class="d-flex align-items-center justify-content-between mb-3"
                    >
                        <h3 class="text-primary">
                            <img th:src="@{/images/WingMan-black.png}" style="height: 100px; width: 100px;" alt="">
                        </h3>

                        <h3>Đăng nhập</h3>
                    </div>
                    <form th:action="@{/admin/login}" method="post">
                        <div th:if="${param.error}" class="d-flex align-items-center justify-content-between mb-4"
                             style="color: red">
                            <span>Tài khoản hoặc mật khẩu không chính xác</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    type="email"
                                    class="form-control"
                                    id="floatingInput"
                                    placeholder="name@example.com"
                                    name="email"
                            />
                            <label for="floatingInput">Tài khoản</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input
                                    type="password"
                                    class="form-control"
                                    id="floatingPassword"
                                    placeholder="Password"
                                    name="password"
                            />
                            <label for="floatingPassword">Mật khẩu</label>
                        </div>
                        <div
                                class="d-flex align-items-center justify-content-between mb-4"
                        >

                            <a>Quên Mật Khẩu?</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
                            Đăng Nhập
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>

<!-- JavaScript Libraries -->
<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/chart/chart.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/admin/main.js}"></script>
</body>
</html>
