<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>HAVEN</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>

    <!-- Favicon -->
    <link href="/../../images/WingMan-black.png" rel="icon">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css'>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet"/>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>

    <!-- Libraries Stylesheet -->
    <link href="/../../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"/>
    <link href="/../../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/../../css/admin/bootstrap.min.css" rel="stylesheet"/>

    <!-- Template Stylesheet -->
    <link href="/../../css/admin/style.css" rel="stylesheet"/>

    <style>
        .create a {
            color: darkgreen;
        }

        .create a:hover {
            color: white;
        }
    </style>

    <style>
        /* Đổi màu nền và màu chữ của các nút phân trang */
        .pagination .page-link {
            color: #000; /* Màu chữ đen */
            background-color: #e9ecef; /* Nền xám nhạt */
            border: 1px solid #c8cbcf; /* Viền màu xám nhạt */
            border-radius: 0; /* Loại bỏ góc bo tròn */
            margin: 0 2px; /* Điều chỉnh khoảng cách giữa các nút */
            padding: 6px 12px; /* Điều chỉnh độ lớn của nút */
        }

        /* Đổi màu nền và màu chữ của nút khi được chọn hoặc hover */
        .pagination .page-item.active .page-link,
        .pagination .page-link:hover {
            color: #000; /* Màu chữ đen khi hover hoặc nút được chọn */
            background-color: #c8cbcf; /* Màu nền xám nhạt khi hover hoặc nút được chọn */
            border: 1px solid #c8cbcf; /* Viền màu xám nhạt khi hover hoặc nút được chọn */
        }

        /* Table Styling */
        #example {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin: 20px 0;
            padding-top: 20px;
        }

        #example th {
            background-color: #f2f2f2;
            color: #333;
            font-weight: bold;
            border-bottom: 1px solid black;
            padding: 8px;
            text-align: center;

        }

        #example td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            color: #6a6a6a;
        }

        #example tbody tr:hover {
            background-color: #b3e1ff;
        }

        #example img {
            vertical-align: middle;
        }

        /* Hide the footer */
        tfoot[hidden] {
            display: none;
        }

        /* Tùy chỉnh CSS để chuyển "Show entries" sang bên trái */
        .dataTables_length {
            float: left;
        }

        /* Di chuyển chuỗi "Showing x to y of N entries" sang bên trái */
        .dataTables_info {
            float: left;
        }

    </style>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a th:href="@{/admin/ban-hang}" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="me-2"></i>Haven </h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" th:src="@{/img/userNew.png}" alt="" style="width: 40px; height: 40px;">
                    <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0" th:text="${tenNhanVien}"></h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a th:href="@{/admin/ban-hang}" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Bán
                    Hàng</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fa fa-laptop me-2"></i>Sản Phẩm</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a th:href="@{/admin/san-pham}" class="dropdown-item">Sản Phẩm</a>
                        <a th:href="@{/admin/chi-tiet-san-pham}" class="dropdown-item">Chi Tiết Sản
                            Phẩm</a>

                    </div>
                </div>
                <a th:href="@{/admin/hoa-don}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Hóa Đơn</a>
                <a th:href="@{/admin/khach-hang}" class="nav-item nav-link"><i
                        class="fa fa-user me-2"></i>Khách Hàng</a>
                <!--                <a th:href="@{/admin/nhan-vien}" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Nhân-->
<!--                    Viên</a>-->
                <a th:href="@{/admin/khuyen-mai}" class="nav-item nav-link active"><i
                        class="fa fa-chart-bar me-2"></i>Khuyến Mại</a>
                <a th:href="@{/admin/ma-giam-gia}" class="nav-item nav-link"><i
                        class="fa fa-chart-bar me-2"></i>Mã Giảm Giá</a>
                <a th:href="@{/admin/thong-ke}" class="nav-item nav-link"><i
                        class="fa fa-chart-bar me-2"></i>Thống Kê</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a aa href="../ban_hang/ban_hang.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" th:src="@{/img/userNew.png}" alt=""
                             style="width: 40px; height: 40px;">

                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">

                        <a th:href="@{/logout}" class="dropdown-item">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div id="errorMessageDate"></div>

        <!-- Chart Start -->
        <div class="container-fluid pt-4">
            <div class="row g-2">
                <div style="width: 90%;">
                    <h6 class="mb-4" style="font-size: 40px;">Quản Lý Khuyến Mại</h6>
                </div>
                <div class="create" style="width: 10%;">
                    <button type="submit" class="btn btn-outline-success mb-2">
                        <a th:href="@{/admin/khuyen-mai/view-add}">Thêm</a>
                    </button>
                </div>
            </div>
<!--            <div class="row g-2">-->
<!--                <form th:action="@{/admin/khuyen-mai/filter}" method="get" onsubmit="return validateDate()">-->
<!--                    <div class="container-fluid pt-3">-->
<!--                        <input type="hidden" id="hiddenTrangThai" name="trangThai" th:value="${trangThai}"/>-->
<!--                        <div class="row g-2">-->
<!--                            <div class="col-md-4">-->
<!--                                &lt;!&ndash; Ngày bắt đầu &ndash;&gt;-->
<!--                                <label class="sr-only" for="start7">Ngày bắt đầu</label>-->
<!--                                <div class="input-group mb-2">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <div class="input-group-text">Ngày bắt đầu</div>-->
<!--                                    </div>-->
<!--                                    <input type="date" class="form-control" name="startDate" id="start7"-->
<!--                                           th:value="${startDate}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                &lt;!&ndash; Ngày kết thúc &ndash;&gt;-->
<!--                                <label class="sr-only" for="end7">Ngày kết thúc</label>-->
<!--                                <div class="input-group mb-2">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <div class="input-group-text">Ngày kết thúc</div>-->
<!--                                    </div>-->
<!--                                    <input type="date" class="form-control" name="endDate" id="end7"-->
<!--                                           th:value="${endDate}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-2">-->
<!--                                &lt;!&ndash; Button thứ nhất &ndash;&gt;-->
<!--                                <button type="submit" class="btn btn-outline-info" style="width: 100%"><i class="bi bi-search"></i>Tìm Kiếm</button>-->
<!--                            </div>-->
<!--                            <div class="col-md-2">-->
<!--                                &lt;!&ndash; Button thứ hai &ndash;&gt;-->
<!--                                <a class="btn btn-outline-info" href="/admin/khuyen-mai"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">-->
<!--                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>-->
<!--                                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>-->
<!--                                </svg>Làm mới</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
        </div>

        <div class="container-fluid pt-4">
            <div class="bg-light text-center rounded p-4">
                <div>
                    <div class="bg-light rounded h-100 p-4">
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th hidden>STT</th>
                                <th>Id</th>
                                <th>Mã</th>
                                <th>Tên khuyến Mại</th>
                                <th>Mức giảm</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="khuyenMai, state : ${listKhuyenMai}">
                                <td hidden th:text="${state.index}"></td>
                                <td th:text="${khuyenMai.id}"></td>
                                <td th:text="${khuyenMai.ma}"></td>
                                <td th:text="${khuyenMai.ten}"></td>
                                <td th:text="${khuyenMai.mucGiamGia + '%'}"></td>
                                <td th:text="${khuyenMai.ngayBatDau}"></td>
                                <td th:text="${khuyenMai.ngayKetThuc}"></td>
                                <td th:text="${khuyenMai.trangThai.getDisplayName()}"></td>
                                <td>
                                    <a th:href="@{'/admin/khuyen-mai/them-san-pham-khuyen-mai/' + ${khuyenMai.id}}">
                                        <i class="bi bi-plus-circle" style="font-size: 20px"></i>
                                    </a>
                                    <a th:href="@{'/admin/khuyen-mai/view-update/' + ${khuyenMai.id}}">
                                        <i class="bi bi-pencil" style="font-size: 20px"></i>
                                    </a>
                                    <a th:unless="${khuyenMai.trangThai.getDisplayName().equals('Dừng Hoạt Động')}"
                                       th:href="@{/admin/khuyen-mai/huy/{id}(id=${khuyenMai.id})}"
                                       onclick="return confirm('Bạn có chắc muốn hủy khuyến Mại này?')">
                                        <i class="bi bi-slash-circle" style="font-size: 20px;"></i>
                                    </a>
                                    <a th:if="${khuyenMai.trangThai.getDisplayName().equals('Dừng Hoạt Động')}">
                                        <i class="bi bi-slash-circle" style="font-size: 20px;"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot hidden="hidden">
                            <tr>
                                <th hidden>STT</th>
                                <th>Id</th>
                                <th>Mã</th>
                                <th>Tên khuyến Mại</th>
                                <th>Mức giảm</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chart End -->

        <!-- Footer Start -->
        <div class="container-fluid pt-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <p style="text-align: center; padding-top: 35px; font-size: 25px;">Giày Thể Thao Haven</p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!--thư viện js tích tìm kiếm-->
<script>
    new DataTable('#example');
</script>
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js'></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    })
</script>

<script th:inline="javascript">
    function validateDate() {
        var startDate = document.getElementById('start7').value;
        var endDate = document.getElementById('end7').value;

        if (startDate === '' || endDate === '') {
            document.getElementById('errorMessageDate').innerHTML = '<div class="alert alert-danger" role="alert">Vui lòng điền đầy đủ thông tin tìm kiếm</div>';

            // Tự động ẩn thông báo sau 5 giây
            setTimeout(function () {
                document.getElementById('errorMessageDate').innerHTML = '';
            }, 5000);

            return false; // Ngăn form từ việc submit khi có lỗi
        } else if (startDate > endDate) {
            document.getElementById('errorMessageDate').innerHTML = '<div class="alert alert-danger" role="alert">Ngày bắt đầu không thể lớn hơn ngày kết thúc.</div>';

            // Tự động ẩn thông báo sau 5 giây
            setTimeout(function () {
                document.getElementById('errorMessageDate').innerHTML = '';
            }, 5000);

            return false; // Ngăn form từ việc submit khi có lỗi
        } else {
            document.getElementById('errorMessageDate').innerHTML = ''; // Xóa thông báo lỗi nếu đã được hiển thị
            return true; // Cho phép form submit nếu không có lỗi
        }
    }
</script>

<!-- JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/../../lib/chart/chart.min.js"></script>
<script src="/../../lib/easing/easing.min.js"></script>
<script src="/../../lib/waypoints/waypoints.min.js"></script>
<script src="/../../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/../../lib/tempusdominus/js/moment.min.js"></script>
<script src="/../../lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/../../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/../../js/admin/main.js"></script>
</body>

</html>