<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head">
  <meta charset="utf-8"/>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="author" content="Untree.co"/>
  <link rel="shortcut icon" th:href="@{/images/WingMan-black.png}"/>

  <meta name="description" content=""/>
  <meta name="keywords" content="bootstrap, bootstrap4"/>

  <!-- Bootstrap CSS -->
  <link th:href="@{/css/customer/bootstrap.min.css}" rel="stylesheet"/>
  <link
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}"
          rel="stylesheet"
  />
  <link th:href="@{/css/customer/style.css}" rel="stylesheet"/>
  <link th:href="@{/css/customer/tiny-slider.css}" rel="stylesheet"/>
  <link th:href="@{/css/customer/shop.css}" rel="stylesheet"/>
  <link th:href="@{/css/customer/detail.css}" rel="stylesheet"/>
  <link th:href="@{/css/customer/dangnhap.css}" rel="stylesheet"/>
  <link th:href="@{/css/customer/dangky.css}" rel="stylesheet"/>
  <link th:href="@{/css/customer/quenmk.css}" rel="stylesheet"/>
  <script th:src="@{/js/customer/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/customer/tiny-slider.js}"></script>
  <script th:src="@{/js/customer/custom.js}"></script>
  <title>
    Haven
  </title>
</head>
<body>

</body>
</html>